<input name='frequency' type='time' step=1 value='00:05:00' min='00:00:01' max='24:00:00' required />
<table id='consumer-args'>
    <thead>
        <tr>
            <th>Product</th>
            <th>Budget</th>
            <th>Buying Volume</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% if bot is defined %}
        {% for rate in bot.args.consumeRates %}
        <tr>
            <td class='centered'>
                <input type='text' name='args[consumeRates][{{ loop.index }}][product][name]' value='{{ rate.product.name }}' required/>
            </td>
            <td class='centered'>
                <input type='text' pattern='^\d+(-\d+)?$' name='args[consumeRates][{{ loop.index }}][budget]' value='{{ rate.budget }}' required/>
            </td>
            <td class='centered'>
                <input type='text' pattern='^\d+(-\d+)?$' name='args[consumeRates][{{ loop.index }}][buyingVolume]' value='{{ rate.buyingVolume }}' required/>
            </td>
            <td class='centered'>
                <button onclick='consumerArgs.table.deleteRow(this)' type='button'>Delete Row</button>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td class='centered'>
                <input type='text' name='args[consumeRates][0][product][name]' required/>
            </td>
            <td class='centered'>
                <input type='text' pattern='^\d+(-\d+)?$' name='args[consumeRates][0][budget]' required/>
            </td>
            <td class='centered'>
                <input type='text' pattern='^\d+(-\d+)?$' name='args[consumeRates][0][buyingVolume]' required/>
            </td>
            <td class='centered'>
                <button onclick='consumerArgs.table.deleteRow(this)' type='button'>Delete Row</button>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
<button type='button' onclick='consumerArgs.table.newRow()'>Add Row</button>

{% block javascript %}
<script src='{{ asset('javascript/table.js') }}'></script>
<script>
    window.consumerArgs = { table: new Table('consumer-args') };
</script>
{% endblock %}
