<table id='producer-args'>
    <thead>
        <tr>
            <th>Product</th>
            <th>Trading Volume</th>
            <th>Offer Quantity</th>
            <th>Price Per Item</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% if bot is defined %}
        {% for rate in bot.args.produceRates %}
        <tr>
            <td class='centered'>
                <input type='text' name='args[produceRates][{{ loop.index }}][product][name]' value='{{ rate.product.name }}' required/>
            </td>
            <td class='centered'>
                <input type='text' pattern='^\d+(-\d+)?$' name='args[produceRates][{{ loop.index }}][tradingVolume]' value='{{ rate.tradingVolume }}' required/>
            </td>
            <td class='centered'>
                <input type='text' pattern='^\d+(-\d+)?$' name='args[produceRates][{{ loop.index }}][offerQuantity]' value='{{ rate.offerQuantity }}' required/>
            </td>
            <td class='centered'>
                <input type='text' pattern='^\d+(-\d+)?$' name='args[produceRates][{{ loop.index }}][pricePerItem]' value='{{ rate.pricePerItem }}' required/>
            </td>
            <td class='centered'>
                <button onclick="producerArgs.table.deleteRow(this)" type='button'>Delete Row</button>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td class='centered'>
                <input type='text' name='args[produceRates][0][product][name]' required/>
            </td>
            <td class='centered'>
                <input type='text' pattern='^\d+(-\d+)?$' name='args[produceRates][0][tradingVolume]' required/>
            </td>
            <td class='centered'>
                <input type='text' pattern='^\d+(-\d+)?$' name='args[produceRates][0][offerQuantity]' required/>
            </td>
            <td class='centered'>
                <input type='text' pattern='^\d+(-\d+)?$' name='args[produceRates][0][pricePerItem]' required/>
            </td>
            <td class='centered'>
                <button onclick="producerArgs.table.deleteRow(this)" type='button'>Delete Row</button>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
<button type='button' onclick="producerArgs.table.newRow('producer-args')">Add Row</button>
{% block javascript %}
<script src='{{ asset('javascript/table.js') }}'></script>
<script>
    window.producerArgs = { table: new Table('producer-args') };
</script>
{% endblock %}
