{% extends 'base.html.twig' %}

{% block styles %}
    <link rel='stylesheet' href="{{ asset('styles/pages/admin.scss') }}" />
{% endblock %}

{% block title %}Market Administration{% endblock %}

{% block body %}

<div class='bots'>
    <div class='list'>
        <h1>Bots</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Frequency</th>
                    <th>Args</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            {% for bot in bots %}
                <tr>
                    <td class='centered'>{{ bot.id }}</td>
                    <td class='centered'>{{ bot.type.name }}</td>
                    <td class='centered'>{{ bot.frequency }}</td>
                    <td>{{ bot.args|json_encode }}</td>
                    <td class='centered'>
                        <button hx-delete='{{ bot.halLinks.self.href }}' hx-target='body'>Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='editor'>
        <h1>Create New Bot</h1>
        <form hx-post='{{ bots.halLinks.bots.href }}' hx-target='body'>
            <select name='type'>
            {% for type in enum('App\\Application\\Bots\\BotType').cases %}
                <option hx-get='admin/bots/_create/{{ type.name }}'
                        hx-target='#args-editor'
                        hx-trigger='click'
                        hx-ext='debug'
                        value='{{ type.value }}'>
                        {{ type.name }}
                </option>
            {% endfor %}
            </select>
            <div id='args-editor' class='args-editor'>
                {{ include('admin/_edit_producer.html.twig') }}
            </div>
            <button>Create Bot</button>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/debug.js"></script>
{% endblock %}
