<tr id='offer-{{ offer.id }}'>
    <td class='product-name'> <span>{{ offer.product.name }}</span> </td>
    <td class='centered'>{{ offer.quantity }}</td>
    <td class='centered'>{{ offer.totalPrice }}</td>
    <td class='centered'>
        <form
            hx-post='{{ offer.halLinks.buy.href }}'
            hx-swap='innerHTML'
            hx-target='#inventory'
            hx-headers='js:{"X-CSRF-TOKEN": document.buyCsrfToken}'>
            <button>Buy</button>
        </form>
    </td>
</tr>
