<div id='offers' class='market' hx-get='{{ market.halLinks.offers.href }}' hx-trigger='offers-update from:#buy-offer'>
    <h1>Market</h1>
    <table>
        <thead>
            <tr>
                <th class='product-name'>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in market.offers %}
            <tr>
                <td class='product-name'> <span>{{ offer.product.name }}</span> </td>
                <td class='centered'>{{ offer.quantity }}</td>
                <td class='centered'>{{ offer.totalPrice }}</td>
                <td class='centered'>
                    <form id='buy-offer'
                            hx-post={{ offer.halLinks.buy.href }}
                            hx-swap='outerHtml'
                            hx-target='#trader'>
                        <button>Buy</button>
                        <input type='hidden' name='_token' data-controller='csrf-protection' value='{{ csrf_token('buy') }}' />
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
